node_modules/
dist/
.DS_Store
.scriptorium/
.latex-review/
sample-project/*.aux
sample-project/*.fdb_latexmk
sample-project/*.fls
sample-project/*.log
sample-project/*.out
sample-project/*.pdf
sample-project/*.synctex.gz
